body {
  font: "13.34px helvetica, arial, clean, sans-serif";
  background: #fdfdfd;
  line-height: 1.5625;
  padding: 5px;
}
span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

a {
  color: #00a;
}

a:visited {
  color: #a0a;
}

.site {
  font-size: 100%;
  text-align: justify;
  line-height: 1.5em;
}
#main {
  display: -webkit-flex;
  -webkit-align-items: center;
  display: flex;
  align-items: center;
}

#main div {
  -webkit-flex: 1;
  flex: 1;
}

.fading_line {
  display: block;
  border: none;
  color: white;
  height: 1px;
  background: black;
  background: -webkit-gradient(
    radial,
    50% 50%,
    0,
    50% 50%,
    350,
    from(#000),
    to(#fff)
  );
}

.normal_text {
  font-size: 19px;
}

.heading {
  font-size: 25px;
}

.var_width {
  width: 60%;
}

.fab {
  color: black;
}

.far {
  color: black;
}

@media screen and (max-width: 1000px) {
  .var_width {
    width: 100%;
  }
}
