.fading_line {
  display: block;
  border: none;
  color: white;
  height: 1px;
  margin-bottom: 30px;
  background: black;
  background: -webkit-gradient(
    radial,
    50% 50%,
    0,
    50% 50%,
    350,
    from(#000),
    to(#fff)
  );
}
